body {
    background-color: #efefef
}

a {
    color: #00aaff
}

hr {
    color: #333333
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

span.required {
    color: red;
}